<% include ../partials/header %>
<!-- <%=currentUser%> -->
	<div class="container">
		<div class="row mt-5">
			<div class="col-md-3">
				<p class="lead">OPTIONS</p>
				<ul id="leftButton" class="list-group">
					More Info</a>
					<a class= "selection" href="/movies/<%=movie._id%>" ><li class="list-group-item active">Rectuitment details</li></a>
  					<a class= "selection" href="/movies/register" ><li class="list-group-item active">Register </li></a>
  					<li class="list-group-item active">Contact Rectuiter</li>
				</ul>
			</div>
			<div class="col-md-9">
				<div class="card">
					<!-- <img src="<%=movie.url%>" class="card-img-top" > -->
  					<div class="card-body">
						<h3 class="card-title"><%=movie.offerDisc%></h3>
						<p class="card-text"><%=movie.coCgpa%></p>
						<p class="card-text"><%=movie.offerDisc%></p>
						<!-- <%if(currentUser && movie.author.id.equals(currentUser._id)){%>
							<a href="/movies/<%=movie._id%>/edit" class="btn btn-primary">Edit</a>
							<form class="delete-form" action="/movies/<%=movie._id%>?_method=delete" method="POST" >
							<button class="btn btn-danger">Delete</button>
							</form>
						<%}%>	 -->
					</div>
					<!-- <div class="card-footer text-muted">
						<a href="<%=movie._id%>/comments/new"class="btn btn-outline-secondary text-right">Add a Comment</a>
						<hr>
						<%movie.comments.forEach((comment)=>{%>
							<strong><%=comment.author.username%></strong><%=comment.text%>
							<%if(currentUser && comment.author.id.equals(currentUser._id)){%>
								<a class="btn btn-xs btn-warning" href="/movies/<%=movie._id%>/comments/<%=comment._id%>/edit">Edit</a>
								<form class="delete-form" action="/movies/<%=movie._id%>/comments/<%=comment._id%>?_method=DELETE" method="Post">	
								<button class="btn btn-xs btn-danger ">Delete</button>
							<%}%>
							</form>
							<hr>
						<%})%>
					</div> -->
				</div>
			</div>
		</div>
	</div>
<% include ../partials/footer %>

<!-- 

conn.query(
						'SELECT * FROM registration WHERE usn= ?',[results[0].usn],
						function(err, results2, fields) {
							if(err)
							console.log(err);
							else{
								console.log(results2[0]); 
							// respond.render("movies/studentResult");
								
							results2.forEach((x)=>{
								console.log(x.cId);
								conn.query(
									'SELECT * FROM company WHERE cId= ?',[x.cId],
									function(err, results3, fields) {
										if(err)
										{console.log(err);
											
										}
										else{
											
											companysDetails.push(results3[0]);
										// respond.render("movies/studentResult");	
										}
									  }
								);
							});
							
							}
							
						  }
						  
					);
					 -->